
<%= image_tag "free-icon-b2b-4696905.png", alt: "B2B", size: "50x50" %>

<h3>We make a work with your clients easier.</h3>

<p>
	<a href="https://www.flaticon.com/ru/free-icons/b2b" title="b2b иконки">B2b иконки от Freepik - Flaticon</a>
</p>
